---
- name: Deploy Node.js application
  hosts: main_ec2
  become: no
  vars:
    app_name: "SinkingCloudsCreative"
    app_port: 8080
    git_repo: "https://YOUR_PAT_HERE@github.com/acpcreation/SinkingCloudsCreative.git"
    app_dir: "/home/ec2-user/{{ app_name }}"
    
  tasks:
    - name: Clone or update application from Git
      git:
        repo: "{{ git_repo }}"
        dest: "{{ app_dir }}"
        version: master  # or main, depending on your default branch
      when: git_repo != ""
      
    - name: Install application dependencies
      npm:
        path: "{{ app_dir }}"
        state: present
      when: git_repo != ""
      

      
    - name: Build Vue.js application
      shell: |
        cd {{ app_dir }}
        npm run build
      when: git_repo != ""
      
    - name: Copy built files to nginx web directory
      shell: |
        rm -rf /var/www/html/*
        cp -r {{ app_dir }}/dist/* /var/www/html/
      become: yes
      when: git_repo != ""
      
    - name: Restart nginx to serve new content
      systemd:
        name: nginx
        state: restarted
      become: yes
      
    - name: Display deployment status
      debug:
        msg: |
          Vue.js application deployment completed!
          - Source code: {{ app_dir }}
          - Built files deployed to: /var/www/html/
          - Application accessible via nginx on port 80
          - Visit http://your-ec2-public-ip to view the app